.AssemblyCSharpSource/**/bin
.AssemblyCSharpSource/**/obj
.AssemblyCSharpSource/**/**.user
.AssemblyCSharpSource/**/launchSettings.json
.UnitTests/**/bin
.UnitTests/**/obj
.UnitTests/**/**.user
.UnitTests/**/launchSettings.json
.vs
.codegraph
AGENTS.md
